name: payment
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: ">=2.17.6 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
  bloc: ^8.0.3
  cupertino_icons: ^1.0.5
  dio: ^4.0.6
  flutter_bloc: ^8.0.1
  webview_flutter: ^3.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/card.png
    - assets/images/ref.png
